@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400&family=Space+Grotesk:wght@400;500;600;700&display=swap");
:root {
  font-size: 62.5%;
  --Primary: #731dd8;
  --Background: #201f1e;
  --Celeste: #bcf8ec;
  --Light-blue: #aed9e0;
  --Cool-gray: #9fa0c3;
  --body: "Outfit", sans-serif;
  --Headline: "Space Grotesk", sans-serif;
  --total-brands: 14;
  --logo-height: 7rem;
  --total-logos-height: calc(var(--total-brands) * var(--logo-height) * 2);
  --animation-duration: calc(var(--total-brands) * 1.5s);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background: var(--Background);
  color: #fff;
  font-family: var(--body);
  font-size: 1.6rem;
}
section {
  overflow: hidden;
}
.left-frame {
  padding: 0.8rem 1.6rem;
  margin-bottom: 1rem;
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 3.3rem;
  background: rgba(115, 29, 216, 0.07);
  font-size: 1.6rem;
  color: var(--Primary);
}
.top-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.top-heading h2 {
  font-size: 4.8rem;
  font-weight: 400;
}
.top-heading p {
  text-transform: capitalize;
  max-width: 52rem;
  color: #b8b8b8;
  font-size: 1.6rem;
  text-align: right;
}
.heading-hr {
  width: 100%;
  margin: 5rem 0;
  border: 1px solid #2a353c;
}
.btn {
  cursor: pointer;
  padding: 1.6rem 3rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
a {
  text-decoration: none;
}
.primary {
  background: var(--Primary);
  font-size: 2rem;
}
.secondary {
  background: #181f23;
}
.sec-btn {
  margin-top: 5.2rem;
  border: 1px solid #383945;
  align-self: flex-start;
}
h1,
h2,
h3 {
  font-family: var(--Headline);
}
p {
  color: #b8b8b8;
  font-size: 16px;
}
section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8rem 5rem;
  background-color: #0d1317;
  background-image: url("../assets/sec-bg.svg");
  background-repeat: no-repeat;
}
section.hero {
  padding-top: 0;
}
.hero {
  min-height: 100dvh;
  padding-bottom: 20rem;
  background: none;
  background-image: url("../assets/Dark\ Gradient\ background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero h1 {
  margin-top: 10rem;
  font-size: 9.6rem;
  letter-spacing: 1rem;
}
.hero p {
  margin-top: 2rem;
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  /* HERO */
  .hero {
    gap: 2rem;
    padding: 0 2rem;
  }
  .hero h1 {
    margin-top: 8rem;
    font-size: 6.8rem;
    letter-spacing: 0.7rem;
  }
  .hero p {
    margin-bottom: 8rem;
    font-size: 1.7rem;
  }
  .top-heading {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .top-heading h2 {
    text-align: center;
    font-size: 4rem;
  }
  .top-heading p {
    font-size: 1.4rem;
    text-align: center;
  }
  .top-heading br {
    display: none;
  }
  .left-frame {
    margin-bottom: 1.5rem;
  }
  .sec-btn {
    margin-top: 3rem;
  }
  .heading-hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  /* HERO */
  .hero {
    padding: 0 2rem;
    align-items: center;
  }
  .hero h1 {
    margin-top: 6rem;
    font-size: 4rem;
    text-align: center;
  }
  .hero p {
    margin-bottom: 5rem;
    text-align: center;
    font-size: 1.4rem;
  }
  .top-heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .top-heading h2 {
    font-size: 3.2rem;
    text-align: left;
  }
  .top-heading p {
    font-size: 1.4rem;
    text-align: left;
  }
  .top-heading br {
    display: none;
  }
  .left-frame {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  .sec-btn {
    margin-top: 2rem;
  }
  .heading-hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .btn {
    cursor: pointer;
    padding: 1.6rem 3rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  .primary {
    background: var(--Primary);
    font-size: 2rem;
  }
  .secondary {
    background: #181f23;
  }
  section {
    padding: 2rem;
  }
}
.testimonials,
.blog-section {
  display: none !important;
}
