.navigation {
  width: 100%;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
}
.navigation nav:first-child {
  border-bottom: 1px solid #4b4b4b;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}
nav a.active {
  color: #9438ff;
}
nav li,
.logo a {
  border-bottom: 1px solid transparent;
}
nav li:hover,
.logo a:nth-child(2):hover {
  border-bottom: 1px solid #fff;
}
nav li:last-child:hover {
  border-bottom: 1px solid transparent;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.logo img {
  width: 15.1rem;
  height: 3.1rem;
  cursor: pointer;
}
.logo a {
  font-size: 1.8rem;
}
nav .links a.contact-us {
  background: #181f23 !important;
  border: 1px solid #383945 !important;
}
.hamberger {
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  display: none;
  background-color: transparent;
  position: fixed;
  right: 2rem;
  top: 2.9rem;
  z-index: 100;
}
.mobnav .logo {
  align-self: flex-start;
  width: 90%;
}
.mobnav hr {
  width: 100%;
  border: 1px solid #4b4b4b;
}
.mobnav ul {
  flex-direction: column;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  nav ul {
    gap: 1.5rem;
    /* border: 2px solid red; */
  }
  nav a {
    font-size: 1.4rem !important;
  }
  .contact-us {
    padding: 0.5rem 0.8rem;
  }
}
@media only screen and (max-width: 768px) {
  .hamberger {
    display: block;
  }
  .navigation nav:first-child ul {
    display: none;
  }
}
/* MOBNAV STYLE */
.mobnav {
  flex-direction: column;
  justify-content: flex-start;
  justify-content: stretch;
  gap: 2rem;
  background-color: #000;
  padding: 1.6rem 2rem;
  position: fixed;
  z-index: 55;
  right: 0;
  top: 0;
  width: 100vw !important;
  height: 100vh;
  transform: translateX(250px);
  transition: transform 250ms ease-in-out;
}
.drawerClosed {
  opacity: 0;
  visibility: hidden;
  transform: translateX(250px);
  transition: opacity 250ms ease-in-out, visibility 250ms linear,
    transform 250ms ease-in-out;
}

.drawerOpen {
  transform: translateX(0px);
  transition: transform 250ms ease-in-out;
  z-index: 60;
}

@media only screen and (min-width: 769px) {
  .mobnav {
    display: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  nav a {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 480px) { 
  nav a {
    font-size: 2.4rem;
  }
  .logo img {
    object-fit: contain;
  }
}
.mobnav .contact-us {
  padding: 1.6rem 8rem;
}
