:root {
  --total-brands: 14;
  --logo-height: 7rem;
  --total-logos-height: calc(var(--total-brands) * var(--logo-height) * 2);
  --animation-duration: calc(var(--total-brands) * 1.5s);
}
/* HERO */
.hero {
  padding-bottom: 28rem;
}
/* UI/UX DESIGN SERVICE */
.ux .main {
  display: flex;
  align-items: center;
  gap: 12rem;
}
.ux div {
  flex: 1;
}
.ux .main p {
  font-size: 2rem;
  text-align: left;
}
.ux div img {
  border-radius: 16px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* TECHNOLOGIES */
.tech {
  padding: 4rem 5rem;
  padding-top: 10rem;
  display: flex;
  justify-content: space-between;
  background-image: url("../assets/carousel\ sec\ bg.svg");
  background-color: #0d1317;
}
.tech .top-heading {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tech .top-heading p {
  margin-top: 4.5rem;
}
.tech .heading-hr {
  display: none;
}
.tech .right {
  display: flex;
  justify-content: space-between;
  gap: 12rem;
  align-items: flex-start;
  height: 337px;
}
/* SLIDER */
.slider {
  position: relative;
  height: 302px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.slider2 {
  align-self: flex-end;
}

.slider ul.brands {
  list-style: none;
  height: var(--total-logos-height);
  display: flex;
  flex-direction: column; /* Updated for vertical layout */
  animation: slideUp var(--animation-duration) linear infinite;
}
.slider2 ul.brands {
  animation: slideUp 70s linear infinite;
}

.slider:hover ul.brands {
  animation-play-state: paused;
}

@keyframes slideUp {
  100% {
    transform: translateY(calc(-100% / 2));
  }
}
@keyframes slideDown {
  100% {
    transform: translateY(calc(100%));
  }
}
ul.brands li.brand-logo {
  padding: 1rem;
  margin-top: 3rem;
  height: var(--logo-height);
  width: 7rem;
  /* border: 1px solid red; */
  font-size: 4rem;
  text-align: center;
  border-radius: 18px;
  background: #181f23;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* TESTIMONIALS */
.testimonials {
  padding: 4rem 5rem;
  padding-top: 10rem;
  background-image: url("../assets/Dark\ Gradient\ background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content-wrapper {
  margin: auto;
  border-radius: 30px;
  background: #151e24;
  padding: 11rem;
}
.content-wrapper .review-wrap {
  display: flex;
  flex-direction: column;
  gap: 5.6rem;
}
#imgDiv {
  border-radius: 50%;
  width: 7.9rem;
  height: 7.9rem;
  background-size: cover;
}
#personName {
  font-size: 2.4rem;
  font-family: var(--Headline);
  font-weight: 700;
  text-align: left;
}
#profession {
  color: #6f6f6f;
  font-family: var(--Headline);
  font-size: 1.6rem;
  font-weight: 400;
  text-align: left;
}
#description {
  font-size: 2.4rem;
  font-weight: 700;
}
.lower {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.lower .client-info {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.lower .btns {
  margin-left: auto;
  display: flex;
}
.btns {
  display: flex;
  gap: 1.2rem;
}

.arrow {
  background: #394248;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform 0.3s;
  font-size: 3rem;
  font-weight: bold;
}
.arrow:hover {
  transition: 0.3s;
  transform: scale(1.15);
}

/* BLOG SECTION */
.blog-section {
  padding: 4rem 5rem;
  display: flex;
  flex-direction: column;
  background: #0d1317;
}
.blog-section .blog-cards {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.blog-cards .card {
  width: 33.33%;
  padding: 2.4rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.card img {
  border-radius: 16px;
}
.blog-cards .card object {
  position: absolute;
  right: 4.8rem;
  top: 3.3rem;
}
.card .category-flag {
  border-radius: 33px;
  background: rgba(220, 193, 255, 0.12);
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: flex-start;
  margin-top: 2rem;
}
.card h3.title {
  font-size: 2rem;
  font-weight: 500;
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  /* HERO */
  .hero {
    gap: 2rem;
    padding: 0 2rem;
  }
  .hero h1 {
    margin-top: 8rem;
    font-size: 6.8rem;
    letter-spacing: 0.7rem;
  }
  .hero p {
    margin-bottom: 8rem;
    font-size: 1.7rem;
  }
  /* UX */
  .ux .main {
    gap: 6rem;
    align-items: flex-start;
  }
  .ux.main p {
    font-size: 1.6rem;
  }
  .ux .main div:nth-child(2) {
    /* display: none; */
  }
  .ux > img {
    margin-top: 5rem;
  }
  /* TECHNOLOGIES */
  .tech {
    padding: 2rem;
    flex-direction: column;
  }
  .tech .top-heading {
    align-items: center;
  }
  .tech .top-heading p {
    margin-top: 0rem;
  }
  .tech .heading-hr {
    display: block;
  }
  .tech .right {
    padding: 0 5rem;
  }
  /* TESTIMONIALS */
  .testimonials {
    padding: 2rem;
    flex-direction: column;
  }
  .content-wrapper {
    padding: 2.4rem 3rem;
  }
  .content-wrapper .review-wrap {
    gap: 2.2rem;
  }
  #personName {
    font-size: 2rem;
  }
  #profession {
    font-size: 1.4rem;
  }
  #description {
    font-size: 1.8rem;
  }
  .lower {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.2rem;
  }
  .lower .client-info {
    gap: 1.2rem;
  }

  /* BLOG SECTION */
  .blog-section {
    padding: 2rem;
  }
  .blog-section .blog-cards {
    gap: 1rem;
  }
  .blog-cards .card object {
    width: 50px;
    right: 2.6rem;
    top: 3.3rem;
  }
  .card .category-flag {
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-self: flex-start;
    margin-top: 2rem;
  }
  .card h3.title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  /* HERO */
  .hero {
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
  }
  .hero h1 {
    margin-top: 6rem;
    font-size: 4rem;
    text-align: center;
  }
  .hero p {
    margin-bottom: 5rem;
    text-align: center;
    font-size: 1.4rem;
  }
  /* TECHNOLOGIES */
  .tech {
    padding: 2rem;
    flex-direction: column;
  }
  .tech .top-heading {
    align-items: center;
  }
  .tech .top-heading p {
    margin-top: 0rem;
  }
  .tech .heading-hr {
    display: block;
  }
  .tech .right {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
  }
  /* TESTIMONIALS */
  .testimonials {
    padding: 2rem;
    flex-direction: column;
  }

  .testimonials .left p br {
    display: none;
  }

  .content-wrapper {
    padding: 2.4rem 3rem;
  }
  .content-wrapper .review-wrap {
    gap: 2.2rem;
  }
  #personName {
    font-size: 2rem;
  }
  #profession {
    font-size: 1.4rem;
  }
  #description {
    font-size: 1.8rem;
  }
  .lower {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.2rem;
  }
  .lower .client-info {
    gap: 1.2rem;
  }
  /* BLOG SECTION */
  .blog-section {
    padding: 2rem;
  }
  .blog-section .blog-cards {
    flex-direction: column;
    gap: 2rem;
  }
  .blog-cards .card {
    width: 100%;
  }
  .blog-cards .card object {
    width: 55px;
    position: absolute;
    right: 2.6rem;
    top: 3.3rem;
  }
}
