
.hero {
  padding-bottom: 20rem;
  background-image: url("../assets/Dark\ Gradient\ background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero h1 {
  margin-top: 10rem;
  font-size: 9.6rem;
  letter-spacing: 1rem;
}
.hero p {
  margin-top: 2rem;
  font-size: 2rem;
}
/* SOFTWARE DEVELOPMENT EXCELLENCE */
.sde .main {
  display: flex;
  gap: 12rem;
}
.sde div {
  flex: 1;
}
.sde .main p {
  font-size: 2rem;
}
.sde div img {
  border-radius: 16px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.sde > img {
  border-radius: 16px;
  margin-top: 8rem;
  width: 100%;
  height: 64rem;
  object-fit: cover;
}
/* WORKING PROCESS */
.working {
  background: #0d1317;
}
.working .main {
  display: flex;
  gap: 2rem;
}
.working .main div {
  flex: 1;
}
.working .main div img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
}
.steps {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.step {
  padding: 2.4rem;
  border-radius: 22px;
  background: #181f23;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step:first-child {
  border: 0.5px solid var(--Light-blue, #aed9e0);
  background: #1c252a;
}
.step span {
  color: #731dd8;
  font-size: 2rem;
}
.step h3 {
  font-size: 3.6rem;
  text-align: center;
  font-weight: 500;
}
.step p {
  font-size: 1.5rem;
  text-align: center;
}
/* WHY US */

.why-us {
  background-image: url("../assets/sec\ bg\ right.svg");
  background-position-x: right;
}
.why-us .bullets {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
}
.bullets hr {
  border: 1px solid #2a353c;
}
.bullet {
  padding: 0 1.2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.bullet h3 {
  font-size: 3.6rem;
}
.bullet p {
  font-size: 1.6rem;
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  /* HERO */
  .hero {
    gap: 2rem;
    padding: 0 2rem;
  }
  .hero h1 {
    margin-top: 8rem;
    font-size: 6.8rem;
    letter-spacing: 0.7rem;
  }
  .hero p {
    margin-bottom: 8rem;
    font-size: 1.7rem;
  }

  /* SOFTWARE DEVELOPMENT EXCELLENCE */
  .sde .main {
    gap: 6rem;
  }
  .sde.main p {
    font-size: 1.6rem;
  }
  .sde .main div:nth-child(2) {
    display: none;
  }
  .sde > img {
    margin-top: 5rem;
  }
  /* WORKING PROCESS */
  .working .main {
    gap: 1rem;
  }
  .working .main div {
    flex: 1;
  }
  .working .main div img {
    object-fit: cover;
  }

  .step h3 {
    font-size: 3rem;
  }
  /* WHY US */
  .bullet h3 {
    font-size: 3rem;
  }
  .bullet p {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 480px) {
  /* HERO */
  .hero {
    align-items: center;
  }
  .hero h1 {
    margin-top: 6rem;
    font-size: 4rem;
    text-align: center;
  }
  .hero p {
    margin-bottom: 5rem;
    text-align: center;
    font-size: 1.4rem;
  }
  /* SOFTWARE DEVELOPMENT EXCELLENCE */
  .sde .main {
    flex-direction: column-reverse;
    gap: 4.5rem;
  }
  .sde .main p {
    font-size: 1.4rem;
  }
  .sde button {
    font-size: 1.6rem;
  }
  .sde > img {
    margin-top: 3rem;
  }
  /* WORKING PROCESS */
  .working .main {
    flex-direction: column-reverse;
  }
  /* WHY US */
  .why-us .bullets {
    gap: 1.6rem;
  }
  .bullet h3 {
    font-size: 2.4rem;
  }
  .bullet p {
    font-size: 1.4rem;
  }
}
