/* CRAFTING OUTSTANDING INTERFACES */
.crafting .main {
  display: flex;
  gap: 12rem;
}
.crafting div {
  flex: 1;
}
.crafting .main .txt p {
  font-size: 2rem;
}
.crafting div img {
  border-radius: 16px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.crafting > img {
  border-radius: 16px;
  margin-top: 8rem;
  width: 100%;
  height: 64rem;
  object-fit: cover;
}
.crafting .main .txt .bullets {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
}
.bullets hr {
  border: 1px solid #2a353c;
}
.bullet {
  padding: 0 1.2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.bullet p {
  font-size: 1.6rem;
}
/* WORKING PROCESS */
.working {
  background-position-y: center;
}
.working .main {
  display: flex;
  gap: 2rem;
}
.working .main div {
  flex: 1;
}
.working .main div img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
}
.steps {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.step {
  padding: 2.4rem;
  border-radius: 22px;
  background: #181f23;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step:first-child {
  border: 0.5px solid var(--Light-blue, #aed9e0);
  background: #1c252a;
}
.step span {
  color: #731dd8;
  font-size: 2rem;
}
.step h3 {
  font-size: 3.6rem;
  text-align: center;
  font-weight: 500;
}
.step p {
  font-size: 1.5rem;
  text-align: center;
}
/* DELIVERABLES */
.deliverables .main {
  border-radius: 22px;
  background: rgba(24, 31, 35, 0.5);
  padding: 2.4rem;
  display: flex;
  gap: 5.6rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.bullets {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.bullets hr {
  border: 1px solid #2a353c;
  width: 96%;
  align-self: center;
}
.bullet {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.bullet h3 {
  font-size: 3.6rem;
  margin-bottom: 0.8rem;
}
.bullet p {
  font-size: 1.6rem;
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  /* HERO */
  .hero {
    gap: 2rem;
    padding: 0 2rem;
  }
  .hero h1 {
    margin-top: 8rem;
    font-size: 6.8rem;
    letter-spacing: 0.7rem;
  }
  .hero p {
    margin-bottom: 8rem;
    font-size: 1.7rem;
  }
  .crafting .main {
    gap: 6rem;
  }
  .crafting .main p {
    font-size: 1.6rem;
  }
  .crafting .main > div:nth-child(2) {
    display: none;
  }
  .crafting > img {
    margin-top: 5rem;
  }
  /* WORKING PROCESS */
  .working .main {
    gap: 1rem;
  }
  .working .main div {
    flex: 1;
  }
  .working .main div img {
    object-fit: cover;
  }
  .deliverables {
    padding-bottom: 9rem;
  }
  .deliverables .main {
    flex-direction: column;
    gap: 0;
  }
  .deliverables .bullets {
    gap: 1.6rem;
  }
  .deliverables .bullets hr.mob {
    display: block;
  }
  .bullet h3 {
    font-size: 3rem;
  }
  .bullet p {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 480px) {
  .hero {
    gap: 2rem;
    padding: 0 2rem;
  }
  .hero h1 {
    font-size: 6.8rem;
    letter-spacing: 0.7rem;
  }
  .hero p {
    margin-bottom: 8rem;
    font-size: 1.7rem;
  }
  /* CRAFTING */
  .crafting .main {
    flex-direction: column-reverse;
    gap: 4.5rem;
  }
  .crafting p {
    font-size: 1.4rem;
  }
  .crafting > img {
    margin-top: 18rem;
    margin-bottom: 3rem;
  }
  /* WORKING PROCESS */
  .working {
    padding-bottom: 15rem;
  }
  .working .main {
    flex-direction: column-reverse;
  }
  .step h3 {
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
  }
  /* DELIVERABLES */
  .deliverables {
    padding-bottom: 9rem;
  }
  .deliverables .main {
    flex-direction: column;
    gap: 1rem;
  }
  .deliverables .bullets {
    gap: 1.6rem;
  }
  .deliverables .bullets hr.mob {
    display: block;
  }
  .bullet h3 {
    font-size: 2.4rem;
  }
  .bullet p {
    font-size: 1.4rem;
  }
}
